<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Conta</title>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body id="page-top" th:each="cons : ${cont}">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow" style="justify-content:space-around;">
                    <div class="navbar-brand text-white" style="display:flex;flex-direction:column;justify-content:start;align-items:center;">
                        <h3 th:text="${cliennn.nome}" class="m-0 font-weight-bold text-primary"></h3>
                        <div class="dropdown no-arrow" style="display:flex;flex-direction:row;width:100%;">
                            <div style="margin: 10px;">
                                <h6 class="m-0 font-weight-bold text-primary">Agencia </h6>
                                <h5 class="m-0 font-weight-bold text-primary" th:text="${cons.agencia}"></h5>
                            </div>
                            <div style="margin: 10px;">
                                <h6 class="m-0 font-weight-bold text-primary">Numero</h6>
                                <h5 class="m-0 font-weight-bold text-primary" th:text="${cons.numero}"></h5>
                            </div>
                            <div style="margin: 10px;display:flex;align-items:center;justify-content:center;">
                                <p class="text-primary" style="margin:auto;">-</p>
                                <h5 class="m-0 font-weight-bold text-primary" th:text="${cons.tipo}"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-brand text-white" style="display:flex;flex-direction:row;justify-content:center;align-items:center;">
                        <h1 class="m-0 font-weight-bold text-gray-dark">R$</h1>
                        <h2 class="m-3 font-weight-bold text-white" th:text="${cons.saldo}" style="display:flex;align-items:center;font-size:70px" id="value"></h2>
                        <script>
                            function animateValue(obj, start, end, duration) {
                                let startTimestamp = null;
                                const step = (timestamp) => {
                                  if (!startTimestamp) startTimestamp = timestamp;
                                  const progress = Math.min((timestamp - startTimestamp) / duration, 1);
                                  obj.innerHTML = Math.floor(progress * (end - start) + start);
                                  if (progress < 1) {
                                    window.requestAnimationFrame(step);
                                  }
                                };
                                window.requestAnimationFrame(step);
                              }
            
                            const obj = document.getElementById("value");
                            var value = document.getElementById("value").innerHTML;
                            
                            animateValue(obj, 0, value, 800);

                            function timeHref(link){
                                setTimeout(function(){
                                    window.location.href = link;
                                }, 1000);
                            }
                        </script>
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle"
                                    src="/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid" style="display:flex;flex-direction:column;">
                    <div class="row">
                        <h6 class="m-0 font-weight-bold text-primary">Transferir</h6>
                    </div>
                    <div class="row">
                        <h6 class="m-0 font-weight-bold text-primary">Extrato</h6>
                    </div>
                    <div class="row">
                        <h6 class="m-0 font-weight-bold text-primary">Cartões</h6>
                    </div>
                </div>
                <div class="container-fluid" style="width:100%;display:flex;flex-direction:row;justify-content:center;">
                    <div class="card shadow mb-4" style="border: none;margin:10px;">
                        <div class="card-header py-3" style="display:flex;flex-direction:row;width:100%;align-items:center;justify-content:space-between;width: 40vw;">
                            <h4 class="m-0 font-weight-bold text-primary">Area de tranferencia</h4>
                            <div th:if="${accertt == true}" class="alert alert-success" role="alert"></div>
                            <button class="btn btn-primary"><a th:href="@{'/clientes/conta/' + ${cont.id_conta} + '/extrato'}"  style="color: #fff;text-decoration:none;">Ver extrato</a></button>
                        </div>
                        <div class="card-body" style="display: flex;justify-content:center;">
                            <div th:if="${erro == null}" style="width:70%;">
                                <br>
                                <form method="POST" th:action="@{/clientes/conta} + '/'+ ${cliennn.id_cliente} + '/transferir' " th:each="consss : ${cont}">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3">
                                            <div class="input-group-prepend">
                                                <input type="hidden" class="form-control" id="dt" name="data_transacao" readonly>
                                                <script>
                                                    var data = new Date();
                                                    var dia = data.getDate();
                                                    var mes = data.getMonth() + 1;
                                                    var ano = data.getFullYear();

                                                    if (dia < 10) {
                                                        dia = "0" + dia;
                                                    }else if(mes < 10){
                                                        mes = "0" + mes;
                                                    }

                                                    var dataFormatada = ano + "-" + mes + "-" + dia;
                                                    console.log(dataFormatada);
                                                    document.getElementById("dt").value = dataFormatada;
                                                </script>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="hidden" class="form-control" name="idConta" th:value="${consss.id_conta}" readonly>
                                        </div>
                                    </div>
                                    <script>
                                        function select() {
                                            var transferencia = document.getElementById("transferencia");
                                            var tipo = document.getElementById("tipo");
                                            var select = document.getElementById("selecionarTipo");
                                            var cpf = document.getElementById("cpf");
                                            var submit = document.getElementById("submit");

                                            if(select.value == -1){
                                                transferencia.style.display = "none";
                                                cpf.removeAttribute('required');
                                                cpf.removeAttribute('name');
                                                submit.setAttribute('disabled', 'disabled');
                                            }
                                            else if(select.value == 0){
                                                transferencia.style.display = "none";
                                                tipo.value = "saque";
                                                cpf.removeAttribute('required');
                                                cpf.removeAttribute('name');
                                                submit.removeAttribute('disabled');

                                            }else if(select.value == 1){
                                                transferencia.style.display = "none";
                                                tipo.value = "deposito";
                                                cpf.removeAttribute('required');
                                                cpf.removeAttribute('name');
                                                submit.removeAttribute('disabled');

                                            }else if(select.value == 2){
                                                transferencia.style.display = "block";
                                                tipo.value = "transferencia";
                                                cpf.setAttribute('required', 'required');
                                                cpf.setAttribute('name', 'cpf');
                                                submit.removeAttribute('disabled');
                                            }
                                        }
                                    </script>
                                    <input type="hidden" name="tipo" id="tipo">
                                    <div class="input-group-prepend">
                                        <input type="number" class="form-control" id="valor" name="valor" placeholder="R$: 100" required maxlength="5" autocomplete="off">
                                        <div class="input-group-addon"></div>
                                    </div>
                                    <br>
                                    <select id="selecionarTipo" class="form-control" onchange="select()" required>
                                        <option value="-1" selected>Escolha o tipo de transacao</option>
                                        <option value="0">Saque</option>
                                        <option value="1">Deposito</option>
                                        <option value="2">Transferencia</option>
                                    </select>
                                    <div id="transferencia" class="form-group" style="display: none;">
                                        <br>
                                        <label id="label_cpf">CPF a transferir</label>
                                        <input type="text" class="form-control" id="cpf" placeholder="000.000.000-00" onkeypress="$(this).mask('000.000.000-00');" autocomplete="off">
                                    </div>
                                    <br>
                                    <div class="form-group" style="display: flex;justify-content:end;">
                                        <button type="submit" id="submit" class="btn btn-primary" disabled>Transferir</button>
                                    </div>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card shadow mb-4" style="border: none;margin:10px;">
                        <div class="card-header py-3" style="display:flex;flex-direction:row;width:100%;align-items:center;justify-content:space-between;width: 40vw;">
                            <h4 class="m-0 font-weight-bold text-primary">Transferencias</h4>
                            <!--<button class="btn btn-primary"><a th:href="@{'/clientes/conta/' + ${contts}}" style="color: #fff;text-decoration:none;">Ver conta</a></button>-->
                        </div>
                        <div class="card-body" style="display: flex;justify-content:center;">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTableCliente" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>DATA TRANSACAO</th>
                                            <th>TIPO</th>
                                            <th>VALOR</th>                        
                                    </thead>
                                    <tbody>
                                        <tr th:each="transferencia : ${transferencias}">
                                            <td th:text="${transferencia.id_transacao}"></td>
                                            <td th:text="${transferencia.data_transacao}"></td>
                                            <td th:text="${transferencia.tipo}"></td>
                                            <td th:text="${transferencia.valor}"></td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="sticky-footer bg-dark">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2022</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tem certeza?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout" style="background-color: #4edfb3;">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/js/datatables-demo.js"></script>
    <script src="https://rawgit.com/RobinHerbots/Inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>
</html>