<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Conta</title>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/administradores">
                <div class="sidebar-brand-text mx-3">Gerenciamento de conta</div>
            </a>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/clientes/conta">Home</a>
                    </div>
                </div>
            </li>
            <br>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTables"
                    aria-expanded="true" aria-controls="collapseTables">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span>
                </a>
                <div id="collapseTables" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                    </div>
                </div>
            </li>
            <br>
            <hr class="sidebar-divider d-none d-md-block">
            <br>
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle"
                                    src="/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3" style="display:flex;flex-direction:row;width:100%;align-items:center;justify-content:space-between;">
                            <h5 th:text="${cliennn.nome}" class="m-0 font-weight-bold text-primary"></h5>
                            <button class="btn btn-primary"><a th:href="@{'/clientes/conta/' + ${cliennn.id_cliente} + '/create'}"  style="color: #fff;text-decoration:none;">Ver extrato</a></button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>NUMERO</th>
                                            <th>AGENCIA</th>
                                            <th>TIPO</th>
                                            <th>SALDO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cons : ${cont}">
                                            <td th:text="${cons.id_conta}"></td>
                                            <td th:text="${cons.numero}"></td>
                                            <td th:text="${cons.agencia}"></td>
                                            <td th:text="${cons.tipo}"></td>
                                            <td th:text="${cons.saldo}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div th:if="${accertt != null}" th:text="${accertt}" class="alert alert-success" role="alert"></div>
                                <div th:if="${errooo != null}" th:text="${errooo}" class="alert alert-danger" role="alert"></div>
                                <div th:if="${erro != null}">
                                    <p th:text="${erro}" class="alert alert-danger" role="alert"></p>
                                    <div id="create" class="content-form" style="background-color: #fff;padding:20px;height:100%;width:100%;">
                                        <h6 class="m-0 font-weight-bold text-primary">Crie sua conta</h6>
                                        <br>
                                        <form role="form" th:action="@{/clientes/conta} + '/'+ ${cliennn.id_cliente} + '/create' " method="POST">        
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label for="agencia">Agencia</label>
                                                    <input type="text" class="form-control" id="agencia" name="agencia" value="0001" placeholder="Agencia" readonly>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="numero">Numero</label>
                                                    <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero" readonly>
                                                    <script>
                                                        var numero = String(789475 + Math.floor(Math.random() * 10000)) + "-" + String(Math.floor(Math.random() * 10));
                                                        document.getElementById("numero").value = numero;
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="hidden" class="form-control" id="saldo" name="saldo" value="0.0" placeholder="Saldo" readonly>
                                            </div>
                                            <div class="form-group">
                                                <select name="tipo" id="tipo" class="form-control" required>
                                                    <option value="Corrente">Corrente</option>
                                                    <option value="Poupanca">Poupança</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" class="form-control" name="cliente" th:value="${cliennn.id_cliente}" readonly>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Criar</button>
                                        </form>           
                                    </div>
                                </div>
                                <div th:if="${acertt != null}" th:text="${acertt}" class="alert alert-danger" role="alert"></div>
                            </div>
                            <div th:if="${erro == null}">
                                <h5 class="m-0 font-weight-bold text-primary">Area de tranferencia</h5>
                                <br>
                                <form method="POST" th:action="@{/transferir} + '/'+ ${cliennn.id_cliente}" th:each="consss : ${cont}">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3">
                                            <div class="input-group-prepend">
                                                <input type="date" class="form-control" id="dt" name="data_transacao" required>
                                                <script>
                                                    document.getElementById("dt").value = new Date().toISOString().slice(0, 10);
                                                    document.getElementById('dt').max = new Date().toISOString().split("T")[0];
                                                    document.getElementById('dt').min = new Date().toISOString().split("T")[0];
                                                </script>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-3">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend">R$</span>
                                                    <input type="number" class="form-control" id="valor" name="valor" placeholder="100" required maxlength="8" autocomplete="off">
                                                <div class="input-group-addon"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="hidden" class="form-control" name="idConta" th:value="${consss.id_conta}" readonly>
                                        </div>
                                    </div>
                                    <script>
                                        if(document.getElementById("tipo").value == "transferencia"){
                                            document.getElementById("transferencia").style.opacity = 1;
                                        }
                                    </script>
                                    <div class="form-group">
                                        <select name="tipo" id="tipo" class="form-control" required>
                                            <option value="saque">Saque</option>
                                            <option value="deposito">Deposito</option>
                                            <option value="transferencia">Transferencia</option>
                                        </select>
                                    </div>
                                    <div id="transferencia" style="opacity:0;">
                                        <div class="form-group">
                                            <label for="cpf_cliente">CPF do Cliente</label>
                                            <input type="text" class="form-control" id="cpf_cliente" name="cpf_cliente" placeholder="000.000.000-00" required onkeypress="$(this).mask('000.000.000-00');" autocomplete="off">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group" style="display: flex;justify-content:end;">
                                        <button type="hidden" name="deposito"class="btn btn-primary" >Transferir</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2022</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tem certeza?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://rawgit.com/RobinHerbots/Inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>