
body{
    background-color: #4579c7;
    margin: 0;
}

.container{
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.row{
    margin: 0;
    padding: 0;
}

.row-table{
    margin: 0;
    padding: 0;
}

.row .col{
    float: left;
    padding: 0;
}

.row-table .col{
    float: left;
    padding: 0;
}


.col-md-12{
    width: 100%;
}

.col-md-12 h1{
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.col-md-12-new{
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
}

.search{
    width: 20%;
    margin: 0 20px;
}

#search{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

#search:focus{
    outline: none;
}

.btn-new{
    margin: 10px;
}

.btn-new span{
    cursor: pointer;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table-striped{
    background-color: #fff;
    border-color: black;
}

th{
    background-color: #79879c;
    color: #fff;
    text-align: center;
}

td{
    text-align: center;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover{
    background-color: #ddd;
}

th{
    padding: 10px;
}

td{
    padding: 10px;
}


.btn{
    border-radius: 5px;
    color: #fff;
    width: auto;
    height: auto;
}

.btn-primary{
    color: #fff;
    width: auto;
    height: auto;
    cursor: pointer;
    text-decoration: none;
}

.btn-danger{
    color: #fff;
    width: auto;
    height: auto;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary span{
    color: #fff;
    background-color: #4579c7;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-danger span{
    color: #fff;
    background-color: #d9534f;
    border-radius: 5px;
    padding: 5px 10px; 
}

.wrapper {
    width: 90%;
    margin: 5px auto;
}
  
.common {
    width: 100%;
    border: none;
}
  
.common thead th {
    background-color: #791515;
}
  
.trow:first-child {
    display: none;
    margin: 0 auto;
}
  
.trow input {
    height: 100%;
    width: 50%;
    border: none;
    margin: 2px;
    padding: 5px;
    background-color: #79879c;
    color: black;
    border-radius: 5px;
}

.trow input::placeholder {
    color: rgb(53, 53, 53);
}

.trow input:focus{
    outline: none;
}
  
.controls a {
    text-decoration: none;
    color: #791515;
}
  
.list_add {
    text-decoration: none;
}
  
.action_btn {
    text-align: center;
}
  
.action_btn input {
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    color: black;
}
  
.action_btn input:first-child {
    background-color: #791515;
    color: white;
}
  
@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
  
@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
  
.fa-times {
    font-size: 1rem;
}

.no_entries_row{
    width: 100%;
}

#delete{
    cursor: pointer;
}

#delete:hover{
    color: rgb(185, 29, 29);
}

#edit{
    cursor: pointer;
    display: none;  
}

#edit:hover{
    color: rgb(136, 48);
    display: flex;
}

#save{
    cursor: pointer;
}

#save:hover{
    color: rgb(136, 48);
}