<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Conta</title>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top" th:each="c : ${cliennt}">
    <div th:if="${erro != null}">
        <button class="close" type="button" data-dismiss="criarConta" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <div id="criarConta" style="position:absolute;z-index:5;background: #000000ba;;width: 100%;height: 100%;display:flex;">
            <div id="create" class="content-form" style="background-color: #27293d;padding:20px;height:60%;width:60%;margin:auto;">
                <h6 class="m-0 font-weight-bold text-primary">Crie sua conta</h6>
                <br>
                <p th:text="${erro}" class="alert alert-danger" role="alert"></p>
                <br>
                <form role="form" th:action="@{/clientes/conta} + '/'+ ${c.id_cliente} + '/create' " method="POST">        
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="agencia">Agencia</label>
                            <input type="text" class="form-control" id="agencia" name="agencia" value="0001" placeholder="Agencia" readonly>
                        </div>
                        <div class="col-sm-6">
                            <label for="numero">Numero</label>
                            <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero" readonly>
                            <script>
                                var numero = String(789475 + Math.floor(Math.random() * 10000)) + "-" + String(Math.floor(Math.random() * 10));
                                document.getElementById("numero").value = numero;
                            </script>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="hidden" class="form-control" id="saldo" name="saldo" value="0.0" placeholder="Saldo" readonly>
                    </div>
                    <div class="form-group">
                        <select name="tipo" id="tipo" class="form-control" required>
                            <option value="Corrente" class="text-dark">Corrente</option>
                            <option value="Poupanca" class="text-dark">Poupança</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="cliente" th:value="${c.id_cliente}" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Criar</button>
                </form>           
            </div>
        </div>
    </div>
    <div id="wrapper" style="height: 100%;">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content" style="background: #23b287;">
                <nav class="navbar navbar-expand navbar-light bg-dark topbar static-top shadow" style="justify-content:center;padding-bottom: 0;">
                    <div class="navbar-brand text-white" style="width:70%;display:flex;flex-direction: row-reverse;justify-content:start;align-items:center;margin:10px;">
                        <h3 th:text="${c.nome}" class="m-0 font-weight-bold text-primary"></h3>
                        <div class="dropdown no-arrow" style="display:flex;flex-direction:column;width: 50%;">
                            <div style="margin: 10px;">
                                <h6 class="m-0 font-weight-bold text-primary" style="font-size: 0.5rem;">CPF</h6>
                                <h5 class="m-0 font-weight-bold text-primary" th:text="${c.cpf}" style="font-size: 0.9rem;"></h5>
                            </div>
                            <div style="margin: 10px;">
                                <h6 class="m-0 font-weight-bold text-primary" style="font-size: 0.5rem;">Email</h6>
                                <h5 class="m-0 font-weight-bold text-primary" th:text="${c.email}" style="font-size: 0.9rem;"></h5>
                            </div>
                            <div style="margin: 10px;">
                                <h6 class="m-0 font-weight-bold text-primary" style="font-size: 0.5rem;">Telefone</h6>
                                <h5 class="m-0 font-weight-bold text-primary" th:text="${c.telefone}" style="font-size: 0.9rem;"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-brand text-white" style="display:flex;flex-direction:row;justify-content:center;align-items:center;width:50%">
                        <h1 class="m-0 font-weight-bold text-gray-dark">R$</h1>
                        <div th:if="${consstt != null}">
                            <h2 class="m-3 font-weight-bold text-white" th:text="${consstt.saldo}" style="display:flex;align-items:center;font-size:70px" id="value"></h2>
                        </div>
                        <div th:unless="${consstt != null}">
                            <h2 class="m-3 font-weight-bold text-white" style="display:flex;align-items:center;font-size:70px" id="value">0</h2>
                        </div>
                        <script>
                            function animateValue(obj, start, end, duration) {
                                let startTimestamp = null;
                                const step = (timestamp) => {
                                  if (!startTimestamp) startTimestamp = timestamp;
                                  const progress = Math.min((timestamp - startTimestamp) / duration, 1);
                                  obj.innerHTML = Math.floor(progress * (end - start) + start);
                                  if (progress < 1) {
                                    window.requestAnimationFrame(step);
                                  }
                                };
                                window.requestAnimationFrame(step);
                              }
            
                            const obj = document.getElementById("value");
                            var value = document.getElementById("value").innerHTML;
                            
                            animateValue(obj, 0, value, 800);

                            function timeHref(link){
                                setTimeout(function(){
                                    window.location.href = link;
                                }, 1000);
                            }
                        </script>
                    </div>
                    <button class="btn btn-primary" style="position:absolute;top:0;right:50px;margin:20px;"><a href="#edite" style="color:#fff;text-decoration:none;" th:href="@{'/clientes/conta/' + ${c.id_cliente}}">Ver conta</a></button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle"
                                    src="/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <!--<div class="card shadow mb-4">
                        <div class="card-header py-3" style="display:flex;flex-direction:row;width:100%;align-items:center;justify-content:space-between;">
                            <h5 th:text="${c.nome}" class="m-0 font-weight-bold text-primary"></h5>
                        </div>
                        <div class="card-body" style="background-color: #27293d;">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>NOME</th>
                                            <th>CPF</th>
                                            <th>SENHA</th>
                                            <th>AÇÕES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:text="${c.id_cliente}"></td>
                                            <td th:text="${c.nome}"></td>
                                            <td th:text="${c.cpf}"></td>
                                            <td th:text="${c.senha}"></td>
                                            <td>
                                                <button class="btn btn-primary"><a href="#edite" style="color:#fff;text-decoration:none;" th:href="@{'/clientes/conta/' + ${c.id_cliente}}">Ver conta</a></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                        
                    </div>-->
                    <div class="row">
                        <div class="col-12" style="padding: 6%;">
                          <div class="card card-chart">
                            <div class="card-header ">
                              <div class="row">
                                <div class="col-sm-6 text-left">
                                  <h5 class="card-category">Total Shipments</h5>
                                  <h2 class="card-title">Performance</h2>
                                </div>
                                <div class="col-sm-6">
                                  <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                      <input type="radio" name="options" checked>
                                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                                      <span class="d-block d-sm-none">
                                        <i class="tim-icons icon-single-02"></i>
                                      </span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="1">
                                      <input type="radio" class="d-none d-sm-none" name="options">
                                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Purchases</span>
                                      <span class="d-block d-sm-none">
                                        <i class="tim-icons icon-gift-2"></i>
                                      </span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="2">
                                      <input type="radio" class="d-none" name="options">
                                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                                      <span class="d-block d-sm-none">
                                        <i class="tim-icons icon-tap-02"></i>
                                      </span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="card-body">
                              <div class="chart-area">
                                <canvas id="chartBig1"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <footer class="sticky-footer bg-dark">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2022</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tem certeza?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout" style="background-color: #4edfb3;">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://rawgit.com/RobinHerbots/Inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>