<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/spinner.css" rel="stylesheet">
</head>
<body style="margin:0;">
    <nav style="position:absolute;height:100vh;width:100vw;background: linear-gradient(to bottom right, #27293d 25%, #3f6d62, #4edfb3);display:flex;flex-direction:column;">
        <div class="menu" style="width:100%;height:10%;display:flex;justify-content:center;margin:0;padding:0;align-items:center;">
            <div style="display: flex;justify-content:start;width:50%;">
                <a href="/home" style="text-decoration:none;margin-left:30px;">
                    <h1 class="text-white" style="margin:0;padding:0;">HELLOBANK</h1>
                </a>
            </div>
            <div style="display:flex;justify-content:end;width:50%;margin-right: 50px;">
                
                <a href="/login" style="text-decoration:none;">
                    <button class="btn btn-primary" style="margin-left:10px;">
                        <span class="text">Login</span>
                    </button>
                </a>
                <a href="/register" style="text-decoration:none;">
                    <button class="btn btn-primary" style="margin-left:10px;">
                        <span class="text">Register</span>
                    </button>
                </a>
                <a href="/sobre" style="text-decoration:none;">
                    <button class="btn btn-primary" style="margin-left:10px;">
                        <span class="text">Sobre nós</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="content" style="margin: 30px 0px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3" style="background: transparent;">
                                <h6 class="m-0 font-weight-bold text-primary" style="font-size:2rem;">Bem vindo ao HELLOBANK</h6>
                            </div>
                            <div class="card-body" style="background:transparent;">
                                <div class="text-center">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="/img/undraw_posting_photo.svg" alt="">
                                </div>
                                <p style="font-size:1.12rem;">Seja bem vindo ao HELLOBANK, um sistema de gerenciamento de contas bancárias, onde você pode criar sua conta e começar a gerenciar suas finanças.</p>
                                <a target="_blank" rel="nofollow" href="https://undraw.co/"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky-footer bg-white" style="position:absolute;width:100%;height:8%;display:flex;justify-content:center;align-items:center;bottom: 10px;padding:0;">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center" style="display: flex;flex-direction:row;">
                            <li class="list-inline-item">
                                <a href="">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </nav>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/js/datatables-demo.js"></script>
    <script src="https://rawgit.com/RobinHerbots/Inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="/js/spinner.js"></script>
</body>
</html>